<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CJML login</title>
    <link rel="stylesheet" href="/coach.css">
</head>
<body>
    <ul>
        <% alphaSchools.forEach((element) => { %>
            <li> <%=element.school%>, <%=element.coachId%> </li>
        <%});%>
        <form action="/login", name="somestupidname", method = "POST">
            <input type="checkbox", checked="checked", name="requestType", value="readOnly", class="invisible">
            <select name="coachId" required>
                <option value="">Choose your School</option>
                <% alphaSchools.forEach(record => { %>
                    <option value="<%=record.coachId%>" name="coachId"><%=record.school%></option>
                <%});%>
            </select>
            <label for="pwd">Password: </label>
            <input type="text" id="pwd" name="passWord" required />
            <button type="submit">login</button>
        </form>

    </ul>
    <% if (arrivalMsg == "bumped") { %>
        <script>alert(
            "Sorry, your session has been terminated because a more-recent login has occurred elsewhere. You may log in again to continue working."
            );</script>
    <%}%>
    <% if (arrivalMsg == "loggedout") { %>
        <script>alert(
            "Your session has ended."
            );</script>
    <%}%>
    <% if (arrivalMsg == "wrongpwd") { %>
        <script>alert(
            "password error, please retry"
            );</script>
    <%}%>
</body>
</html>