body{
    width: 95%;
    align-self: center;
    text-align: center;
    font-family: Arial;
}

h1{
    font-weight: 800
}

#oheader{
    width: 90%;
    max-width: 25cm;
    margin: auto;
    background-color: antiquewhite;
}

#oheader>*{
    display: inline-block;
}

#otitle{
    max-width: 90%;
    margin: auto;
}

.obuttonbar{
    position: relative;
    width: 95%;
    max-width: 21.5cm;
    min-height: 20px;
    margin: auto;
}

.oleftbutton{
    position: absolute;
    left: 5%;
}

.orightbutton{
    position: absolute;
    left: 50%
}

#viewwindow{
    margin: auto;
    width: 95%;
    max-width: 22.5cm;
    height: 15.7 cm;
    overflow: auto;
    border: solid black;
}

#scoresheet{
    width: 21.5cm;
    height: 14.9cm;
    border: solid red;
}

.headerline{
    width: 22.5cm;
    margin: 0;
    text-align: center;
    min-height: 0.75cm
}

.namedropdowns{
    display: inline-block;
    width: 8.45cm;
    margin: 0;
    border: solid black 1px;
    height: 100%;
}

.scoreclicks{
    display: inline-block;
    margin: 0;
    border: solid black 1px;
}
em{
    font-size: x-large;
}
.pushleft{
    /* display: inline-block; */
    width: 5cm;
    margin-right: 0cm;
    float:left;
    min-height:0.5cm;
}
.pushright{
    /* display: inline-block; */
    width: 5cm;
    margin-left: 0cm;
    float:right;
    min-height: 0.5cm;
}
.wideheader{
    display: inline-block;
    width: 7.5cm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.narrowheader{
    display: inline-block;
    width: 3.2cm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#scoresheettitle{
    display: inline-block;
}
.r{
    background-color: rgb(142, 0, 0);
    color: antiquewhite;
}
.w75{
    width: 7.5cm;
    /* border: solid 1px; */
}
.w32{
    width: 3.2cm;
    /* border: solid 1px; */
}
.leftjustify>*{
    text-align: left;
}
.rightjustify{
    text-align: right;
}
.scoreboxheader{
    display: inline-block;
    width:1.93cm;
}
.big{
    font-size: larger;
    font-weight: 700;
}
.spacer{
    height: .7cm;
}
#names{
    width: 8cm;
    height: 11.1cm;
    border:solid 1px
}
#numbering{
    width: .9cm;
    height: 11cm;
    border:solid 1px;
    padding-bottom: 0.1cm;

}
.number{
    height: .6cm;
    padding-top: .3cm;
}
#dropdowns{
    width: 7cm;
    height: 11.1cm;
    /* border:solid 1px */
}
#scoreclicks{
    width: 13.4cm;
    height: 11cm;
    border: solid 1px;
    padding-bottom: 0.1cm;
}
.horizontalborders{
    border-right: solid 1px;
    border-left: solid 1px;
}
.namesrow{
    height:.9cm;
    width: 100%;
    font-size: 16pt;
    text-align: center;
    background-color: bisque;
}
.scoressrow{
    height:.85cm;
    width: 100%;
    font-size: 16pt;
    text-align: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
    background-color: rgb(246, 210, 66);
}
.invisible{
    display: none;
}
.qnumber{
    display: inline-block;
    width: 1.1cm;
    border-left: solid 1px;
    border-right: solid 1px;
}
.scorebox{
    display: inline-block;
    background-color: white;
    width:1.88cm;
    height: 0.82cm;
    border: solid 1px;
}
.qbox{
    display: inline-block;
    width: 1.1 cm;
    height: 0.9cm;
    border-left: solid 1px;
    border-right: solid 1px;
}
.qnumberrow{
    width: 13.4cm;
}
#multipleerror{
    font-size: larger;
    background-color: red;
    color: white;
}

