body {
    width: 95%;
    align-self: center;
    text-align: center;
    font-family: Arial;
}

p {
    margin: 0;
}

h1 {
    font-weight: 800
}

h2 {
    margin: 1pt;
}

#oheader {
    width: 90%;
    max-width: 25cm;
    margin: auto;
    background-color: antiquewhite;
}

#oheader>* {
    display: inline-block;
}

#otitle {
    max-width: 90%;
    margin: auto;
}

.coachbox {
    justify-items: left;
    width: 10cm;
    border: solid black;
    margin: 0.5cm 0;
    padding: 1em;
}

.obuttonbar {
    position: relative;
    width: 95%;
    max-width: 21.5cm;
    min-height: 20px;
    margin: auto;
}

.oleftbutton {
    width: 15%;
    position: absolute;
    left: 5%;
}

.omiddlebutton {
    width: 15%;
    position: absolute;
    left: 45%;
}

.orightbutton {
    width: 15%;
    position: absolute;
    left: 80%
}

/* .orightbutton {
    width: 15%;
    position: absolute;
    left: 80%
} */

button {
    background-color: rgb(240, 51, 51);
    color: white;
    border-radius: 4px;
}

button:disabled {
    opacity: 0.5;
}

button:active {
    background-color: rgb(152, 26, 26);
}

#downloadScoresheet {
    font-size: 24pt;
}

#viewwindow {
    margin: auto;
    width: 95%;
    max-width: 22.5cm;
    /* height: 15.7 cm; */
    overflow: auto;
    border: solid black;
}

#scoresheet {
    width: 21.5cm;
    /* height: 14.9cm; */
    border: rgb(116, 64, 6);
}

.namedropdowns {
    display: inline-block;
    width: 8.45cm;
    margin: 0;
    border: solid black 1px;
    height: 100%;
}

.scoreclicks {
    display: inline-block;
    margin: 0;
    border: solid black 1px;
}

em {
    font-size: x-large;
}

.pushleft {
    /* display: inline-block; */
    /* width: 5cm; */
    margin-right: 0cm;
    float: left;
    min-height: 0.5cm;
}

.pushright {
    /* display: inline-block; */
    /* width: 5cm; */
    margin-left: 0cm;
    float: right;
    min-height: 0.5cm;
}

.tbd {
    /* width: 2.57cm; */
    display:  inline-block;
    position: relative;
    left: 24%;
}

.wideheader {
    display: inline-block;
    width: 5.5cm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.narrowheader {
    display: inline-block;
    width: 3.2cm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#scoresheettitle {
    display: inline-block;
    width: 45%;
    position: relative;
    left: 6%;
}

.r {
    background-color: rgb(116, 64, 6);
    color: antiquewhite;
}

.w75 {
    width: 7.5cm;
    /* border: solid 1px; */
}

.w32 {
    width: 3.2cm;
    /* border: solid 1px; */
}

.leftjustify>* {
    text-align: left;
}

.rightjustify {
    text-align: right;
}

.headerline {
    /* width: 22.5cm; */
    margin: 0;
    text-align: center;
    min-height: 0.75cm;
}

.scoreboxheader {
    display: inline-block;
    /* width: 1.93cm; */
}

.big {
    font-size: larger;
    font-weight: 700;
    text-align: center;
}

#names {
    width: 8cm;
    height: 11.1cm;
    border: solid 1px
}

#numbering {
    width: .9cm;
    height: 11cm;
    border: solid 1px;
    padding-bottom: 0.1cm;

}

.number {
    height: .6cm;
    padding-top: .3cm;
    text-align: center;
}

#dropdowns {
    width: 7cm;
    height: 11.1cm;
    /* border:solid 1px */
}

/* #scoreclicks{
    width: 13.4cm;
    height: 11cm;
    border: solid 1px;
    padding-bottom: 0.1cm;
} */
.horizontalborders {
    border-right: solid 1px;
    border-left: solid 1px;
}

.horizontalchildren>* {
    display: inline-block;
    position: unset;
}

.namesrow {
    height: .9cm;
    width: 100%;
    font-size: 12pt;
    text-align: center;
    background-color: bisque;
}

.scoressrow {
    height: .85cm;
    width: 100%;
    font-size: 16pt;
    text-align: center;
    border-top: solid 1px;
    /* border-bottom: solid 1px; */
    border-bottom: hidden;
    /* background-color: hsl(0, 91%, 61%); */
}

.qnumber {
    display: inline-block;
    width: 1.1cm;
    border-left: solid 1px;
    border-right: solid 1px;
}

.scoreboxv,
.scoreboxjv {
    background-color: white;
    width: 1.7cm;
    height: 0.9cm;
    font-size: large;
}

.qbox {
    width: 100%;
    height: 0.9cm;
    border: none;
    border-radius: 0px;
    font-size: 16pt;
    /* background-color: #8bcf029e; */
    text-align: center;
    line-height: 1 em;
    padding: 0;
    color: black;
    font-family: arial;
    box-sizing: content-box;
    vertical-align: top;
}

.click {
    /* background-color: #8bcf029e; */
    text-align: center;
    line-height: 1em;
    padding: 0;
    color: black;
    font-family: arial;
    box-sizing: content-box;
    vertical-align: top;
    display: inline-block;
    border: solid 1px;
    border: hidden;
    /* font-size: large; */
}

.click:disabled {
    opacity: 50%;
}

.qboxrow {
    width: 13.4cm;
    border-bottom: solid 5px;
}

.spacer {
    height: .7cm;
}

#abovecolumns {
    border-top: solid 1px;
}

#multipleerror {
    font-size: larger;
    background-color: red;
    color: white;
}

.invisible {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 0px;
}

/* caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
} */

/* thead,
tfoot {
    background-color: rgb(228 240 245);
} */

th {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}

.unbold {
    font-weight: normal;
}

td {
    border: 1px solid rgb(160 160 160);
    text-align: center;
}

/* td:last-of-type {
    text-align: center;
} */

/* tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
} */

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

.seatNumberColumn {
    width: 4.5%
}

.namesColumn {
    width: 33%;
}

.smallPrint {
    font-size: 10pt;
}